@import '../../../variables';

.mat-toolbar.mat-primary {
  background: $color-primary;
  color: $color-white;
}

.mat-menu-content {
  padding: 2em;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  justify-content: space-between;
}
