@import '../../../variables';

.mat-toolbar.mat-primary,
.mat-toolbar,
.toolbar {
  color: $color-primary !important;
  background-color: $color-white !important;
}

.mat-menu-content {
  padding: 2em;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  justify-content: space-between;
}
