<div class="share-spark">

  <div class="share-spark__headline headline__wrapper headline__wrapper--center">
    <h1>Share a Spark</h1>
  </div>

  <div class="share-spark__form">

    <mat-card>

      <form class="form" #sparkForm="ngForm" (ngSubmit)="onSubmit(sparkForm)">

      <mat-card-title>
        From: {{associate.name}}
      </mat-card-title>
      <mat-card-subtitle>
        To: <span *ngIf="associateCtrl.value">{{associateCtrl.value}}</span>
        <span *ngIf="type.value"> for <span style="text-transform: capitalize;">{{type.value}}</span></span>
      </mat-card-subtitle>

      <mat-divider></mat-divider>

      <!-- Associate selector -->
      <mat-form-field class="form__field">
        <input
          [formControl]="associateCtrl"
          name="associate"
          required
          matInput
          placeholder="Associate"
          aria-label="Associate"
          [matAutocomplete]="auto"
        >
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let associate of filteredAssociates | async" [value]="associate.name">
            <span>{{associate.name}}</span>
          </mat-option>
        </mat-autocomplete>
        <!-- <mat-error *ngIf="sparkForm.submitted && associate.invalid">Select an Associate</mat-error> -->
      </mat-form-field>

      <!-- Spark type selector -->
      <p
        class="form__label"
        [class.error]="sparkForm.submitted && type.invalid"
        >
        Select Type *
      </p>

      <mat-radio-group
        name="type"
        #type="ngModel"
        ngModel
        required
        class="form__field spark-type__selector"
        aria-label="Select an option"
        >

          <div class="selector">
          <mat-radio-button
            type="radio"
            matRipple
            matRippleColor="rgba(0,0,0,0.1)"
            class="spark-type__option spark-type__option--safety"
            value="safety"
            >
            <app-icon
              class="option__icon"
              width="40"
              height="40"
              type="safety"
              title="Safety Spark"
            >
            </app-icon>
          </mat-radio-button>
          <p class="option__label option__label--safety">Safety</p>
        </div>

        <div class="selector">
          <mat-radio-button
            type="radio"
            matRipple
            matRippleColor="rgba(0,0,0,0.1)"
            class="spark-type__option spark-type__option--kindness"
            value="kindness"
            >
            <app-icon
              class="option__icon"
              width="40"
              height="40"
              type="kindness"
              title="Kindness Spark"
            >
            </app-icon>
          </mat-radio-button>
          <p class="option__label option__label--kindness">Kindness</p>
        </div>

        <div class="selector">
          <mat-radio-button
            type="radio"
            matRipple
            matRippleColor="rgba(0,0,0,0.1)"
            class="spark-type__option spark-type__option--connection"
            value="connection"
            >
            <app-icon
              class="option__icon"
              width="40"
              height="40"
              type="connection"
              title="Connection Spark"
            >
            </app-icon>
          </mat-radio-button>
          <p class="option__label option__label--connection">Connection</p>
        </div>

        <div class="selector">
          <mat-radio-button
            type="radio"
            matRipple
            matRippleColor="rgba(0,0,0,0.1)"
            class="spark-type__option spark-type__option--simplicity"
            value="simplicity"
            >
            <app-icon
              class="option__icon"
              width="40"
              height="40"
              type="simplicity"
              title="Simplicity Spark"
            >
            </app-icon>
          </mat-radio-button>
          <p class="option__label option__label--simplicity">Simplicity</p>
        </div>

      </mat-radio-group>

      <!-- <mat-error *ngIf="sparkForm.submitted && type.invalid">Select a Spark Care type.</mat-error> -->

      <!-- Spark message -->
      <mat-form-field class="form__field">
        <textarea
          rows="4"
          cols="150"
          name="message"
          ngModel
          #message="ngModel"
          matInput
          placeholder="Tell us about the moment of care"
        >
        </textarea>
      </mat-form-field>

      <mat-divider></mat-divider>

      <!-- Submit -->
      <div class="form__actions">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          name="submit">
          Submit
        </button>
      </div>

      </form>

    </mat-card>

  </div>

</div>
