<div class="share-spark">

  <div class="share-spark__headline headline__wrapper">
    <h1>Share a Spark!</h1>
  </div>

  <div class="share-spark__form">

    <!-- Spark form -->
    <form class="form" (ngSubmit)="onSubmit()">

      <!-- Associate selector -->
      <mat-form-field class="form__field">
        <input matInput placeholder="Associate" aria-label="Associate" [matAutocomplete]="auto" [formControl]="associateCtrl">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let associate of filteredAssociates | async" [value]="associate.name">
            <span>{{associate.name}}</span> |
            <small>{{associate.win}}</small>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <!-- Spark type selector -->
      <p class="form__label">Select Type</p>
      <mat-radio-group class="form__field spark-type__selector" aria-label="Select an option">

        <mat-radio-button
          class="spark-type__option spark-type__option--safety"
          value="safety"
          >
          <app-icon
            class="option__icon"
            width=""
            height=""
            type="safety"
            title="Safety Spark"
          >
          </app-icon>
          <p class="option__label option__label--safety">Safety</p>
        </mat-radio-button>

        <mat-radio-button
          class="spark-type__option spark-type__option--kindness"
          value="kindness"
          >
          <app-icon
            class="option__icon"
            width=""
            height=""
            type="kindness"
            title="Kindness Spark"
          >
          </app-icon>
          <p class="option__label option__label--kindness">Kindness</p>
        </mat-radio-button>

        <mat-radio-button
          class="spark-type__option spark-type__option--connection"
          value="connection"
          >
          <app-icon
            class="option__icon"
            width=""
            height=""
            type="connection"
            title="Connection Spark"
          >
          </app-icon>
          <p class="option__label option__label--connection">Connection</p>
        </mat-radio-button>

        <mat-radio-button
          class="spark-type__option spark-type__option--simplicity"
          value="simplicity"
          >
          <app-icon
            class="option__icon"
            width=""
            height=""
            type="simplicity"
            title="Simplicity Spark"
          >
          </app-icon>
          <p class="option__label option__label--simplicity">Simplicity</p>
        </mat-radio-button>

      </mat-radio-group>

      <!-- Spark message -->
      <mat-form-field class="form__field">
        <textarea rows="4" cols="150" matInput placeholder="Tell us about your moment of care"></textarea>
      </mat-form-field>

      <!-- Submit -->
      <div class="form__actions">
        <button mat-raised-button type="submit" name="submit">Submit</button>
      </div>

    </form>

  </div>

</div>
