@import "../../../variables.scss";
@import "../../../mixins.scss";

.share-spark {

  &__headline {}
  &__form {
    .form {
      width: 100%;

      &__label {
        color: $color-grey;
        &.error {
          color: red;
        }
      }

      &__field {
        width: 100%;
        margin: 1em 0;
      }

      &__actions {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1em;
        button {
          width: 100%;
        }
      }

      &__spark-type-selector {}

    }
  }
}

.spark-type {
  &__selector {
    box-sizing: border-box;
    display: grid;
    grid-column-gap: 10px;

    grid-template-columns: repeat(2, 1fr);

    @include xxs {
      grid-template-columns: repeat(4, 1fr);
    }

    .selector {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

  }
  &__option {
    background-color: transparent;
    border-radius: 50%;
    min-height: min-content;
    outline: none;
    width: 72px;
    height: 72px;

    &.mat-radio-button {
      display: block;
    }

    svg {}

    &.mat-radio-checked {
      color: $color-white;
      font-weight: bold;
    }

    &--safety {

      border: 1px solid $color-safety;
      box-shadow: 0 2px 0 $color-white, 0 4px 0 rgba($color-safety, 60%);
      background: rgba($color-safety, 2.5%);

      &.mat-radio-checked {
        background: $color-safety;
        path {fill: #FFFFFF !important;}
      }
    }

    &--kindness {

      border: 1px solid $color-kindness;
      box-shadow: 0 2px 0 $color-white, 0 4px 0 rgba($color-kindness, 60%);
      background: rgba($color-kindness, 2.5%);

      &.mat-radio-checked {
        background: $color-kindness;
        path {fill: #FFFFFF;}
      }
    }

    &--connection {

      border: 1px solid $color-connection;
      box-shadow: 0 2px 0 $color-white, 0 4px 0 rgba($color-connection, 60%);
      background: rgba($color-connection, 2.5%);

      &.mat-radio-checked {
        background: $color-connection;
        path {fill: #FFFFFF;}
      }
    }

    &--simplicity {

      border: 1px solid $color-simplicity;
      box-shadow: 0 2px 0 $color-white, 0 4px 0 rgba($color-simplicity, 60%);
      background: rgba($color-simplicity, 2.5%);

      &.mat-radio-checked {
        background: $color-simplicity;
        path {fill: #FFFFFF;}
      }
    }

    .mat-radio-container {
      visibility: hidden;
      position: absolute;
    }

    .mat-radio-label-content {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      padding: 0;
    }

    .mat-radio-label {
      height: 100%;
      padding: 16px 0;
      box-sizing: border-box;
    }

    .option {

      &__label {
        font-size: 0.8em;
        margin: 0;
        text-transform: capitalize;
      }
    }
  }
}
