<div class="login-screen screen">

  <!-- Logo -->
  <app-logo size="80"></app-logo>

  <!-- Input Form -->
  <form
    class="login-form form"
    #loginForm="ngForm"
    (ngSubmit)="attemptLogin(loginForm)"
    >

    <!-- Fields -->
    <div class="login-form__fields">

      <mat-form-field class="login-form__field">
        <input
          #userName="ngModel"
          ngModel
          required
          matInput
          placeholder="User Name"
          name="userName"
          aria-label="User Name"
          >
      </mat-form-field>

      <mat-form-field class="login-form__field">
        <input
          #password="ngModel"
          ngModel
          required
          matInput
          placeholder="Password"
          type="password"
          name="password"
          aria-label="Password"
        />

      </mat-form-field>

    </div>



    <!-- Actions -->
    <div class="login-actions flex column">

      <a
        class="login-actions__action login-actions__action--secondary"
        routerLink="/forgot-password"
        >
        Forgot Password?
      </a>

      <button
        type="submit"
        name="submit"
        class="login-actions__action login-actions__action--primary"
        mat-raised-button
        >

        Log In
      </button>

      <a
        class="login-actions__action login-actions__action--secondary"
        routerLink="/create-account"
        >
        Create Account
      </a>

    </div>

  </form>

</div>
