@import "../../../variables.scss";
// @import "mixins.scss";

.login {

  &-screen {

    &__powered-by {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
    }
  }

  &-form {

    &__fields {
      margin-top: 4em;
      margin-bottom: 1em;
    }
    &__field {
      display: block;
    }
  }

  &-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    margin-bottom: 6em;

    &__action {
      margin-bottom: 2em;
      text-decoration: none;

      &--primary {
        padding: 0.2em 3em;
      }

      &--secondary {
        color: $color-grey;
        font-size: 0.8em;
      }
    }
  }
}
