<div class="login-screen screen">

  <!-- Logo -->
  <app-logo for="login-screen"></app-logo>

  <!-- Input Form -->
  <form
    class="login-form form"
    #loginForm="ngForm"
    (ngSubmit)="attemptLogin(loginForm)"
    >

    <!-- Fields -->
    <div class="login-form__fields">

      <mat-form-field class="login-form__field">
        <input
          #userName="ngModel"
          ngModel
          required
          matInput
          placeholder="User Name"
          name="userName"
          aria-label="User Name"
          >
      </mat-form-field>

      <mat-form-field class="login-form__field">
        <input
          #password="ngModel"
          ngModel
          required
          matInput
          placeholder="Password"
          type="password"
          name="password"
          aria-label="Password"
        />

      </mat-form-field>

    </div>

    <!-- Actions -->
    <div class="login-actions flex column">

      <button
        type="submit"
        name="submit"
        class="login-actions__action login-actions__action--primary"
        mat-raised-button
        color="primary"
        >
        Log In
      </button>

      <a
        class="login-actions__action login-actions__action--secondary"
        routerLink="/create-account"
        >
        Create Account
      </a>

      <a
        class="login-actions__action login-actions__action--secondary"
        routerLink="/forgot-password"
        >
        Forgot Password?
      </a>

    </div>

  </form>

  <div class="login-screen__powered-by">
    <span class="fine-print" style="margin-bottom: 4px; font-size: 10px; opacity: 0.4;">powered by</span>
    <app-wm-logo
      width="80"
    ></app-wm-logo>
  </div>

</div>
