<div class="forgot-password">

  <p>For got your password? We got you covered. Just contact your manager and they will get you back to Sparking in no time</p>

  <mat-card>
    <mat-card-header><h1>Mangers Name</h1></mat-card-header>
    <mat-divider></mat-divider>
    <p>contact information</p>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <button mat-button>Request Access</button>
    </mat-card-actions>
  </mat-card>

  <p><a routerLink="/help">Have a quick question? Check out the FAQs</a></p>

</div>
