<div class="screen home-screen">

  <div class="home-screen-actions flex">

    <button
      class="home-screen-actions__button"
      mat-raised-button
      (click)="navToShareSpark()"
      >
      Share a Spark
    </button>

    <button
      class="home-screen-actions__button"
      mat-raised-button
      (click)="navToDashboard()"
      >
      My Dashboard
    </button>

    <!-- Managers Flow: TODO: add logic to toggle this ngIf -->
    <button
      *ngIf="false"
      class="home-screen-actions__button"
      mat-raised-button
      (click)="navToTeamDashboard()"
      >
      * Team Dashboard
    </button>

  </div>

</div>
