@import "../../../variables.scss";
@import "../../../mixins.scss";

.home-screen {
  &-actions {
    display: flex;
    flex-direction: column;

    &__button {
      padding: 4em;
      margin: 1em 0;
      font-size: 1em;

      @include sm {
        font-size: 1.5em;
      }

    }
  }
}
