<div class="screen home-screen">

  <div class="headline__wrapper headline__wrapper--center">
    <h1 [innerHTML]="username"></h1>
  </div>

  <div class="home-screen-actions flex">

    <button
      class="home-screen-actions__button"
      mat-raised-button
      (click)="navToShareSpark()"
      >
      Share a Spark
    </button>

    <button
      class="home-screen-actions__button"
      mat-raised-button
      (click)="navToDashboard()"
      >
      My Dashboard
    </button>

    <!-- Managers Flow: TODO: add logic to toggle this [ *ngIf="user.isManager" ]-->
    <button
      *ngIf="false"
      class="home-screen-actions__button"
      mat-raised-button
      (click)="navToTeamDashboard()"
      >
      Team Dashboard
    </button>

  </div>

  <div class="actions actions--center">
    <button
      (click)="signOut()"
      mat-raised-button
      type="button"
      name="button"
    >
    Log Out
    </button>
  </div>

</div>
