@import "../../../variables.scss";


.spark-confirmation {
  &__card {
    .card {
      &__content {
        padding: 2em 0;

        .label {
          font-style: italic;
          color: $color-grey;
        }
        .value {
          font-weight: bold;
          text-transform: capitalize;
          &--message {
            display: block;
            font-weight: normal;
            text-transform: none;
            padding: 1em;
            font-size: 1.2em;
            text-indent: 1em;
          }
        }
      }
    }
  }

  &__type {
    text-transform: capitalize;
  }
  &__label {
    font-size: 0.8rem;
    font-weight: normal;
  }
  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      width: 100%;
    }
  }
}
