<div class="spark-confirmation">

  <div class="spark-confirmation__headline headline__wrapper">
    <h1>You Shared a Spark</h1>
  </div>

  <mat-card class="spark-confirmation__card spark-confirmation__body">

    <mat-card-header class="card__header">
      <div mat-card-avatar class="">
        <app-icon
          class=""
          width=""
          height=""
          [type]="type"
          title="Spark"
        >
        </app-icon>
      </div>
      <mat-card-title>
        <span [innerHTML]="toAssociate"></span>
      </mat-card-title>
      <mat-card-subtitle>
        <span class="spark-confirmation__type" [innerHTML]="type"></span>&nbsp;<span>Spark</span>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content class="card__content">
      <p>
        <span class="label">To:&nbsp;&nbsp;</span>
        <span class="value" [innerHTML]="toAssociate"></span>
      </p>
      <p>
        <span class="label">From:&nbsp;&nbsp;</span>
        <span class="value" [innerHTML]="fromAssociate"></span>
      </p>
      <p>
        <span class="label">Type of Care:&nbsp;&nbsp;</span>
        <span class="value" [innerHTML]="type"></span>
      </p>
      <p>
        <span class="label">Message:&nbsp;&nbsp;</span><br><br>
        <span class="value value--message" [innerHTML]="message"></span>
      </p>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions class="spark-confirmation__actions">
      <button (click)="acknowledgeSpark()" mat-button type="button" name="button">Done</button>
    </mat-card-actions>

  </mat-card>

</div>
