<div class="spark-confirmation">

  <div class="spark-confirmation__headline headline-wrapper">
    <h1>You Shared a Spark</h1>
  </div>

  <div class="spark-confirmation__body">

    <p>
      <span>Associate Name:&nbsp;&nbsp;</span>
      <span>user.name</span>
    </p>

    <p>
      <span>Type of Care:&nbsp;&nbsp;</span>
      <span>spark.type</span>
    </p>

    <p>
      <span>Message:&nbsp;&nbsp;</span>
      <span>spark.message</span>
    </p>

  </div>

  <div class="spark-confirmation__actions">
    <button (click)="acknowledgeSpark()" mat-raised-button type="button" name="button">Done</button>
  </div>

</div>
