@import "../../../variables.scss";
@import "../../../mixins.scss";

.notifications__header {
  width: 100%;
}


.dashboard {

  &-screen { padding: 0 40px; }

  &__statistics {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin-bottom: 1em;

    .statistics__block {
      padding: 1em;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: $color-white;
      border-radius: 32px;

      svg path { fill: $color-white; }

      &--safety {
        background-color: $color-safety;
        box-shadow:
          0 0 4px rgba(black, 5%),
          0 4px 0 rgba($color-safety, 50%);

        .statistic__label {}

      }
      &--kindness {
        background-color: $color-kindness;
        box-shadow:
          0 0 4px rgba(black, 5%),
          0 4px 0 rgba($color-kindness, 50%);

        .statistic__label {}

      }
      &--connection {
        background-color: $color-connection;
        box-shadow:
          0 0 4px rgba(black, 5%),
          0 4px 0 rgba($color-connection, 50%);

        .statistic__label {}

      }
      &--simplicity {
        background-color: $color-simplicity;
        box-shadow:
          0 0 4px rgba(black, 5%),
          0 4px 0 rgba($color-simplicity, 50%);

        .statistic__label {}

      }

      .statistic__amount {
        font-size: 4em;
      }


    }

    .statistics__block:nth-child(1) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    .statistics__block:nth-child(2) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    .statistics__block:nth-child(3) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
    }
    .statistics__block:nth-child(4) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }

    .statistics {

      &__data {
        display: block;
        width: 100%;
        padding: 0;
        border-radius: 1em;
        overflow: hidden;


        .statistic {

          &__status {

            display: flex;
            align-items: center;
            justify-content: space-around;

            min-height: 10vh;
            font-size: 56px;
            padding: 8px 8px 16px 8px;

            @include md {
              height: 10vh;
              padding: 16px 16px 32px 16px;
              font-size: 66px;
            }



          }

          &__icon {
            margin-right: 1rem;
            max-height: 100%;

            svg {
              // width: 10vh;
              // width: auto;
              // height: 100%;
            }
          }

          &__label {

            color: white;
            padding: 4px;
            font-size: 1.2em;
            p {margin: 0;}
          }
        }
      }
    }

  }

  &__notifications {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin-bottom: 1em;
  }

  &__fab.fab {
    position: fixed;
    z-index: 9;
    bottom: 2em;
    right: 2em;
    background-color: $color-primary;
    color: $color-white;

    .mat-button-wrapper {
      padding: 4px;
    }
  }

}
