<div class="dashboard">

  <div class="dashboard__headline headline__wrapper headline__wrapper--center">
    <h1 class="headline" [innerHTML]="associate ? associate.name : 'Unknown user!'"></h1>
  </div>

  <!-- Statistics -->
  <div class="dashboard__statistics">

    <div class="statistics__block statistics__block--safety">
      <button mat-raised-button class="statistics__data">

        <div class="statistic__status">
          <app-icon
            class="statistic__icon"
            width="40"
            height="40"
            type="safety"
            title="Safety Spark"
          >
          </app-icon>
          <span class="statistic__amount">00</span>
        </div>

        <div class="statistic__label">
          <p>Safety</p>
        </div>

      </button>
    </div>

    <div class="statistics__block statistics__block--kindness">
      <button mat-raised-button class="statistics__data">

        <div class="statistic__status">
          <app-icon
            class="statistic__icon"
            width="40"
            height="40"
            type="kindness"
            title="Kindness Spark"
          >
          </app-icon>
          <span class="statistic__amount">00</span>
        </div>

        <div class="statistic__label">
          <p>Kindness</p>
        </div>

      </button>
    </div>

    <div class="statistics__block statistics__block--connection">
      <button mat-raised-button class="statistics__data">

        <div class="statistic__status">
          <app-icon
            class="statistic__icon"
            width="40"
            height="40"
            type="connection"
            title="Connection Spark"
          >
          </app-icon>
          <span class="statistic__amount">00</span>
        </div>

        <div class="statistic__label">
          <p>Connection</p>
        </div>

      </button>
    </div>

    <div class="statistics__block statistics__block--simplicity">
      <button mat-raised-button class="statistics__data">

        <div class="statistic__status">
          <app-icon
            class="statistic__icon"
            width="40"
            height="40"
            type="simplicity"
            title="Simplicity Spark"
          >
          </app-icon>
          <span class="statistic__amount">00</span>
        </div>

        <div class="statistic__label">
          <p>Simplicity</p>
        </div>

      </button>
    </div>


  </div>

  <!-- Received Notifications -->
  <div
    *ngIf="true"
    class="dashboard__notifications"
    matBadge="4"
    matBadgeOverlap="true"
    >

    <!-- <mat-accordion> -->

      <mat-expansion-panel>

        <mat-expansion-panel-header>
          <div class="notifications__header">
            <h1>Notifications</h1>
          </div>
        </mat-expansion-panel-header>

        <!-- <mat-card class="notifications__card"> -->
          <mat-accordion *ngIf="true" class="notifications__accordion">

            <app-notification
              *ngFor="let notification of notifications"
              [isNew]="notification.isNew"
              [notificationType]="'received'"
              [thankYouSent]="notification.thankYouSent"
              [date]="notification.date"
              [toAssociate]="{name: 'you'}"
              [fromAssociate]="notification.fromAssociate"
              [message]="notification.message"
              [sparkType]="notification.sparkType"
            ></app-notification>

            <div class="actions actions--center">
              <button mat-raised-button type="button" name="button">load more</button>
            </div>

          </mat-accordion>
        <!-- </mat-card> -->

      </mat-expansion-panel>

    <!-- </mat-accordion> -->

  </div>

  <!-- Activity Log -->
  <div
    *ngIf="true"
    class="dashboard__notifications"
    >

    <!-- <mat-accordion> -->

      <mat-expansion-panel>

        <mat-expansion-panel-header>
          <div class="archives__header">
            <h1>Activity Log</h1>
          </div>
        </mat-expansion-panel-header>

          <mat-accordion class="archives__accordion">

            <app-notification
              *ngFor="let record of log"
              [isNew]="record.isNew"
              [thankYouSent]="record.thankYouSent"
              [notificationType]="'sent'"
              [date]="record.date"
              [toAssociate]="record.toAssociate"
              [fromAssociate]="{name: 'You'}"
              [message]="record.message"
              [sparkType]="record.sparkType"
            ></app-notification>

            <div class="actions actions--center">
              <button mat-raised-button type="button" name="button">load more</button>
            </div>

          </mat-accordion>

      </mat-expansion-panel>

    <!-- </mat-accordion> -->

  </div>

  <!-- Floating Action Button to add a spark -->
  <!-- I tried to sell this button internally but didn't get traction -->
  <button
    *ngIf="false"
    class="dashboard__fab fab"
    mat-fab
    aria-label="Send a new Spark"
    routerLink="/share-spark"
    >
    <mat-icon>add</mat-icon>
  </button>

</div>
