<mat-toolbar color="primary">

  <mat-toolbar-row>

    <div *ngIf="true"><!-- TODO: if back navigation exists -->

      <button
        mat-icon-button
        aria-label="Previous Screen Navigation"
        (click)="goBack()"
        >
        <mat-icon>keyboard_backspace</mat-icon>
      </button>

    </div>


    <span class="">Logo</span>

    <button
      mat-icon-button
      aria-hidden="false"
      aria-label="Spark Care App Menu"
      [matMenuTriggerFor]="hamburgerMenu"
      >
      <mat-icon>menu</mat-icon>
    </button>

  </mat-toolbar-row>

</mat-toolbar>

<mat-menu #hamburgerMenu="matMenu">

  <button mat-menu-item>John Doe</button>

  <mat-divider style="margin-left: -2em; margin-right: -2em;"></mat-divider>

  <button mat-menu-item routerLink="/help"><mat-icon>help</mat-icon>Help</button>
  <button mat-menu-item routerLink="/settings"><mat-icon>settings</mat-icon>Setting</button>

  <br>

  <button
    mat-raised-button
    class="button button--primary"
    (click)="signOut()"
    >
    Sign Out
  </button>

</mat-menu>
