// Mixins

// Common Styles

// Card
@mixin card(){
  border-radius: 1em;
}

// Component Spacing
@mixin componentSpacing(){
  margin-bottom: 1em;
}

// Common Shadow
@mixin shadow($color: $color-primary){
  box-shadow: 0 4px 4px rgba($color, 16%);
}

// Media Queries

// XXtra Small devices
@mixin xxs {
   @media (min-width: #{$screen-xxs-min}) {
       @content;
   }
}

// XXtra Small devices
@mixin xs {
   @media (min-width: #{$screen-xs-min}) {
       @content;
   }
}

// Small devices
@mixin sm {
   @media (min-width: #{$screen-sm-min}) {
       @content;
   }
}

// Medium devices
@mixin md {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}

// Large devices
@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}

// Extra large devices
@mixin xl {
   @media (min-width: #{$screen-xl-min}) {
       @content;
   }
}

// Custom devices
@mixin rwd($screen) {
   @media (min-width: $screen+'px') {
       @content;
   }
}
