@import "variables.scss";
@import "mixins.scss";

/*
  Global Element Styles
  - simple and global styles that will cascade to all elements
  */
html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgba($color-primary ,5%);
}
img { max-width: 100%; max-height: 100%; height: auto;}
main {
  // min-width: 300px;
}
h1 {
  font-size: 1.6em;
  @include sm {
    font-size: 2em;
  }

}


/* Global Classes */
.headline {
  &__wrapper {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 1em;
    border-bottom: 1px solid $color-light-grey;
    &--center {
      text-align: center;
    }
  }
}
