/*
  Private Color Variables
  - only colors with the '$color-' prefix shall be used outside of this file
*/

// shades of grey
$_white: #FFFFFF;
$_grey_1: darken($_white,15%);
$_grey_2: darken($_white,30%);
$_grey_3: darken($_white,45%);
$_grey_4: darken($_white,60%);
$_grey_5: darken($_white,75%);
$_grey_6: darken($_white,90%);

// Walmart color palette (I found these online - Clifford)
$_wm_dark_blue: #004c91; // RGB: 0, 76, 145
$_wm_medium_blue: #007dc6; // RGB: 0, 125, 198
$_wm_light_blue: #78b9e7; // RGB: 120, 185, 231
$_wm_orange: #f47321; // RGB: 244, 115, 33
$_wm_yellow: #ffc220; // RGB: 255, 194, 32
$_wm_dark_green: #367c2b; // Walmart Fresh Product Dark Green // RGB: 54, 124, 43
$_wm_light_green: #76c043; // Walmart Fresh Product Light Green // RGB: 118, 192, 67

// Spark Care color palette
$_safety_blue: #1276ca;  // TODO: verify and add the approved colors
$_connection_yellow: #fcba30; // TODO: verify and add the approved colors
$_kindness_orange: #fa6400; // TODO: verify and add the approved colors
$_simplicity_purple: #6bcae8; // TODO: verify and add the approved colors

/*
  Public Color Variables
  Use these variables in the app .scss files
  dont forget to @import (// @import "[.path]/variables.scss";)
  TODO: assign the real template colors to the spark types
*/

$color-primary: $_grey_5; // TODO: make this Spark Blue ?
$color-secondary: $_grey_4; // TODO: make this Spark Yellow ?

$color-safety: $_grey_5; // $color-safety-blue;
$color-connection: $_grey_5; // $color-connection-yellow;
$color-kindness: $_grey_5; // $color-kindness-orange;
$color-simplicity: $_grey_5; // $color-simplicity-purple;

$color-white: $_white;
$color-light-grey: $_grey_1;
$color-grey: $_grey_4;

/*
  Size Variables
*/

/* Screen Break Points */
$screen-xs-min: 480px;
$screen-sm-min: 600px;
$screen-md-min: 768px;
$screen-lg-min: 960px;
$screen-xl-min: 1200px;
