<div *ngIf="this.associate" class="main-menu">

  <button
    mat-icon-button
    class="main-menu__button--close">
    <mat-icon color="primary">close</mat-icon>
  </button>

  <button
    mat-menu-item
    class="main-menu__button"
    routerLink="/dashboard">
    <mat-icon color="primary">person</mat-icon>
    {{associate.name}}
  </button>

  <mat-divider style="margin-left: -2em; margin-right: -2em;"></mat-divider>

  <button
    mat-menu-item
    class="main-menu__button"
    routerLink="/share-spark">
    <mat-icon color="primary">share</mat-icon>
    Share a Spark
  </button>

  <button
    mat-menu-item
    class="main-menu__button"
    routerLink="/dashboard">
    <mat-icon color="primary">dashboard</mat-icon>
    Dashboard
  </button>

  <button
    *ngIf="this.associate.isManager"
    mat-menu-item
    class="main-menu__button"
    routerLink="/team-dashboard">
    <mat-icon color="primary">dashboard</mat-icon>
    Team Dashboard
  </button>

  <button
    mat-menu-item
    class="main-menu__button"
    routerLink="/help">
    <mat-icon color="primary">help</mat-icon>
    Help
  </button>

  <button
    mat-menu-item
    class="main-menu__button"
    routerLink="/settings">
    <mat-icon color="primary">settings</mat-icon>
    Settings
  </button>

  <br>

  <button
    mat-stroked-button
    class="main-menu__button--logout button--logout button--primary"
    (click)="signOut()"
    >
    Log Out
  </button>

</div>
