@import "../../../variables.scss";

.main-menu {
  &__button {
    font-weight: bold;
    &--logout {
      width: 100%;
    }
    &--close {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
