@import "../../../variables.scss";

.main-menu {
  &__button {
    font-family: Bogle-Bold;
    font-size: 1em;
    &--logout {
      width: 100%;
    }
    &--close {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
