<div *ngIf="this.associate" class="main-menu">

  <!-- Logged In Profile -->
  <button
    mat-menu-item
    routerLink="/dashboard">
    <mat-icon>person</mat-icon>
    {{associate.name}}
  </button>

  <mat-divider style="margin-left: -2em; margin-right: -2em;"></mat-divider>

  <!-- Manager Options -->
  <button *ngIf="this.associate.isManager"
    mat-menu-item
    routerLink="/team-dashboard">
    <mat-icon>dashboard</mat-icon>
    Team Dashboard
  </button>

  <!-- Associate Options -->
  <button
    mat-menu-item
    routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon>
    Dashboard
  </button>

  <button
    mat-menu-item
    routerLink="/share-spark">
    <mat-icon>share</mat-icon>
    Share a Spark
  </button>

  <button
    mat-menu-item
    routerLink="/help">
    <mat-icon>help</mat-icon>
    Help
  </button>

  <button
    mat-menu-item
    routerLink="/settings">
    <mat-icon>settings</mat-icon>
    settings
  </button>

  <br>

  <button
    mat-stroked-button
    class="main-menu__button--logout button--logout button--primary"
    (click)="signOut()"
    >
    Log Out
  </button>

</div>
